You need to login to post new events. The user name is <b>"events"</b> and the password is also <b>"events"</b>.

In the title please include the name of the event and the date the event is scheduled for.

[loginform user="event"]
